.h6__14-placement {
  background-image: url(../img/heros-H6-banner12-bg-pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  padding-bottom: 5.6rem;

  @media only screen and (max-width: 750px) {
    background-image: url(../img/heros-H6-banner12-bg-m.jpg);
    padding: 2.4rem;
    padding-bottom: 4rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 5.6rem;

    @media only screen and (max-width: 750px) {
      margin-bottom: 3.2rem;
    }

    & h3 {
      @include H6-h3;
    }

    & p {
      @include H6-paragraph;
      width: 60%;
      margin: 0 auto;

      @media only screen and (max-width: 750px) {
        width: 80%;
      }

      @media only screen and (max-width: 400px) {
        width: 90%;
      }
    }
  }

  &__images {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;

    @media only screen and (max-width: 750px) {
      width: 100%;
    }

    &__image {

      &:first-child {
        margin-right: 5%;

        @media only screen and (max-width: 750px) {
          margin-right: 2vw;
        }
      }

      & img {
        width: 100%;
        max-width: 48rem;
        height: auto;
        border-radius: 2px;
      }
    }
  }
}